<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:macro name="rplidar" params="name:='' connected_to:='' *origin">

        <xacro:unless value="${connected_to == ''}">
        <joint name="${name}_joint" type="fixed">
            <parent link="${connected_to}"/>
            <child link="${name}"/>
            <xacro:insert_block name="origin"/>
        </joint>
        </xacro:unless>

        <link name="${name}">
            <visual>
            <origin xyz="0 0 0.003"/>
            <geometry>
                <box size="0.079 0.086 0.006"/>
            </geometry>
            <material name="support">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
            </visual>
            <visual>
            <origin xyz="0 0 0.023"/>
            <geometry>
                <cylinder radius="0.038" length="0.04"/>
            </geometry>
            <material name="lidar">
                <color rgba="1.0 0.0 0.0 0.7"/>
            </material>
            </visual>
            <collision>
            <origin xyz="0 0 0.003"/>
            <geometry>
                <box size="0.079 0.086 0.006"/>
            </geometry>
            </collision>
            <collision>
            <origin xyz="0 0 0.023"/>
            <geometry>
                <cylinder radius="0.038" length="0.04"/>
            </geometry>
            </collision>
        </link>

        <link name="${name}_sensor"/>
        <joint name="${name}_sensor_joint" type="fixed">
            <origin xyz="0 0 0.0368" rpy="0 0 0"/>
            <parent link="${name}"/>
            <child link="${name}_sensor"/>
        </joint>


        <gazebo reference="${name}_sensor">
			<sensor type="ray" name="rplidar_sensor">
				<pose>0 0 0 0 0 0</pose>
				<visualize>false</visualize>
				<update_rate>10</update_rate>
				<ray>
					<scan>
						<horizontal>
							<samples>360</samples>
							<resolution>1</resolution>
							<min_angle>${-3*PI/4}</min_angle>
							<max_angle>${3*PI/4}</max_angle>
						</horizontal>
					</scan>
					<range>
						<min>0.15</min>
						<max>6.0</max>
						<resolution>0.06</resolution>
					</range>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.01</stddev>
					</noise>
				</ray>
				<plugin name="rplidar_controller" filename="libgazebo_ros_laser.so">
					<topicName>/bender_sensors/lidar/scan</topicName>
					<frameName>${name}</frameName>
				</plugin>
			</sensor>
		</gazebo>
    </xacro:macro>

</robot>