<launch>

  <rosparam command="load" file="$(find bender_localization)/params/global_ekf.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="gps/fix" to="mavros/global_position/global"/>
    <remap from="imu/data" to="mavros/imu/data"/>
  </node>

</launch>
