<launch>

    <!-- Empty map -->
    <node name="empty_map_server" pkg="map_server" type="map_server" args="$(find bender_gazebo)/maps/empty_box.yaml" output="screen">
        <param name="frame_id" value="map"/>
        <remap from="/map" to="/empty_map" />
        <remap from="/map_metadata" to="/empty_map_metadata" />
	</node>

    <node name="map_to_base_footprint_tf"
        pkg="tf2_ros" type="static_transform_publisher" 
        args="0 0 0 0 0 0 map odom" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find bender_nav)/config/hardware-nav.rviz" output="screen"/>

    <!-- Launch move_base -->
    <include file="$(find bender_nav)/launch/move_base.launch" />
</launch>
