<launch>

<node pkg="move_base" type="move_base" respawn="false" name="bender_nav" output="screen">
    <rosparam file="$(find bender_nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bender_nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find bender_nav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bender_nav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find bender_nav)/param/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find bender_nav)/param/base_local_planner_params.yaml" command="load" />

    <param name="controller_frequency" value="10.0" />
    <param name="planner_frequency" value="5.0" />    <!-- 0.0 for planning once when new goal is received -->
    
    <remap from="cmd_vel" to="bender_nav/cmd_vel" />
    <remap from="odom" to="/bender/swerve_controller/odom" />
</node>


</launch>
