<launch>

    <arg name="groundtruth" default="false"/>

    <!-- load empty world -->
    <arg name="gui" default="true"/>
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="use_sim_time" value="true" />
    </include>


    <!-- Start robot and controllers -->
    <include file="$(find bender_gazebo)/launch/bender.launch">
        <arg name="groundtruth" value="$(arg groundtruth)"/>
    </include>


    <!-- Use groundtruth pose from Gazebo for localization -->
    <group if="$(arg groundtruth)">
		<!-- <node pkg="bender_gazebo" type="tf_ground_truth" name="world_groundtruth_publisher" /> -->
        <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false" output="screen">
            <param name="base_frame_id" value="base_footprint" />
            <remap from="base_pose_ground_truth" to="/bender/ground_truth_pose" />
        </node>
	</group>


    <!-- RViz to visualize robot state -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find bender_gazebo)/config/bender.rviz" output="screen"/>


    <!-- <node name="keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <remap from="/cmd_vel" to="/bender/swerve_controller/cmd_vel" />
    </node> -->


    <!-- GUI for robot control via 'cmd_vel' topic -->
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="bender_rqt_teleop">
        <param name="default_topic" type="str" value="/bender/swerve_controller/cmd_vel"/>
        <param name="default_vx_max" type="double" value="1.5" />
        <param name="default_vx_min" type="double" value="-1.5" />
        <param name="default_vw_max" type="double" value="1.5" />
        <param name="default_vw_min" type="double" value="-1.5" />
    </node>

</launch>
