<launch>

    <arg name="groundtruth" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="world_name" default="worlds/empty.world"/> 
    <arg name="teleop" default="rqt" doc="[rqt, joy, none]"/> 

    <!-- Robot Pose -->
    <arg name="x"     default="0"/>
    <arg name="y"     default="0"/>
    <arg name="z"     default="0"/>
    <arg name="roll"  default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw"   default="0"/>

    <!-- load empty world -->
    <arg name="gui" default="true"/>
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/> 
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="use_sim_time" value="true" />
    </include>

    <!-- Start robot and controllers -->
    <include file="$(find bender_gazebo)/launch/base.launch">
        <arg name="x"      value="$(arg x)"/>
        <arg name="y"      value="$(arg y)"/>
        <arg name="z"      value="$(arg z)"/>
        <arg name="roll"   value="$(arg roll)"/>
        <arg name="pitch"  value="$(arg pitch)"/>
        <arg name="yaw"    value="$(arg yaw)"/>
        <arg name="teleop" value="$(arg teleop)"/>
    </include>

    <!-- Use groundtruth pose from Gazebo for localization -->
    <group if="$(arg groundtruth)">
		<!-- <node pkg="bender_gazebo" type="tf_ground_truth" name="world_groundtruth_publisher" /> -->
        <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false" output="screen">
            <param name="base_frame_id" value="base_footprint" />
            <remap from="base_pose_ground_truth" to="/bender/ground_truth_pose" />
        </node>
	</group>

    <!-- RViz to visualize robot state -->
    <group if="$(arg rviz)">
        <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find bender_gazebo)/config/bender.rviz" output="screen"/>
    </group>

</launch>
