<launch>

    <arg name="groundtruth" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="x" default="-2"/>
    <arg name="y" default="-21.5"/>
    <arg name="yaw" default="3.14"/>
    <arg name="teleop" default="rqt" doc="[rqt, joy, none]"/> 

    <include file="$(find bender_gazebo)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="rviz" value="false" />
        <arg name="world_name" value="$(find bender_gazebo)/worlds/igvc_basic.world"/> 
        <arg name="x"     value="$(arg x)"/>
        <arg name="y"     value="$(arg y)"/>
        <arg name="z"     value="0"/>
        <arg name="roll"  value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw"   value="$(arg yaw)"/>
        <arg name="groundtruth" value="$(arg groundtruth)"/>
        <arg name="teleop" value="$(arg teleop)"/>
    </include>

    <!-- Load known map -->
    <node name="lane_map_server" pkg="map_server" type="map_server" args="$(find bender_gazebo)/maps/igvc_basic_lanes.yaml" output="screen">
        <param name="frame_id" value="map"/>
        <remap from="/map" to="/lane_map" />
        <remap from="/map_metadata" to="/lane_map_metadata" />
	</node>
    <node name="obstacle_map_server" pkg="map_server" type="map_server" args="$(find bender_gazebo)/maps/igvc_basic_obstacles.yaml" output="screen">
        <param name="frame_id" value="map"/>
        <remap from="/map" to="/obstacle_map" />
        <remap from="/map_metadata" to="/obstacle_map_metadata" />
	</node>

    <!-- Static TF (dead reckoning) -->
    <node name="map_to_base_footprint_tf" unless="$(arg groundtruth)" 
        pkg="tf" type="static_transform_publisher" 
        args="$(arg x) $(arg y) 0 $(arg yaw) 0 0 /map /odom 1000" output="screen" />

    <!-- Launch move_base -->
    <include file="$(find bender_nav)/launch/move_base.launch" />
    
    <!-- RViz to visualize robot state -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find bender_gazebo)/config/bender_nav.rviz" output="screen"/>


</launch>
